body{
    overflow: hidden;
}
section {
    width: 100vw;
    height: 100vh;
    position: relative;
}

section>.main {
    width: 50vw;
    height: 50vh;
    position: absolute;
}

section>.main:nth-child(1) {
    background: red;
}

section>.main:nth-child(2) {
    background: green;
    right: 0;
}

section>.main:nth-child(3) {
    background: orange;
    bottom: 0;
}

section>.main:nth-child(4) {
    background: pink;
    right: 0;
    bottom: 0;
}
section>.main>div {
    width: 15vw;
    height: 15vw;
    background: white;
    border-radius: 100%;
    position: absolute;

    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}
section>.main>div>div{
    width: 7vw;
    height: 7vw;
    background: red;
    position: absolute;

    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}
#middle{
    width: 15vw;
    height: 15vw;
    position: absolute;
    background-color: white;

    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
#middle>div{
    width: 10vw;
    height: 10vw;
    background-color: red;
    border-radius: 100%;
    position: absolute;

    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
section>section>.around{
    width: 10vw;
    height: 10vw;
    background-color: white;
    border-radius: 100%;
    position: absolute;
}

section>section>div:nth-child(1){
    top: calc(-10vw / 2);
    left: calc(-10vw /2);
}

section>section>div:nth-child(2){
    top: calc(-10vw / 2);
    right: calc(90vw /2);
}
section>section>div:nth-child(3){
    top: calc(-10vw / 2);
    right: calc(-10vw /2);
}
section>section>div:nth-child(4){
    top: calc(100vh - 5vw);
    right: calc(90vw /2);
}
section>section>div:nth-child(5){
    top: calc(100vh - 5vw);
    right: calc(-10vw /2);
}
section>section>div:nth-child(6){
    top: calc(100vh - 5vw);
    right: calc(190vw /2);
}


