
#About\ Me > section:nth-child(1) > div > div > img {
    position: absolute;
    width: 420px;
    height: 625px;
    border-radius: 500px;
    top: -31px;
    left: -2px;
}

#About\ Me > section:nth-child(1) > div > div {
    position: relative;
    background-color: #FEB33C;
    width: 417px;
    height: 594px;
    border-radius: 500px;
    left: 10px;
    top: 7px;
    box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
}

#About\ Me > section:nth-child(1) > div {
    position: relative;
    border: 1px solid black;
    width: 417px;
    height: 594px;
    border-radius: 500px;
    left: 50px;
    top: 100px;
}

#About\ Me > div {
    position: absolute;
    width: 177px;
    height: 118px;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    top: 514px;
    right: 986px;
}

#About\ Me > section:nth-child(2) > h3 {
    position: absolute;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    left: 50%;
    top: 12vw;
}

#About\ Me > section:nth-child(2) > p {
    position: absolute;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    left: 50%;
    top: 15vw;
}

#About\ Me > section:nth-child(2) > div {
    position: absolute;
    left: 50%;
    top: 32vw;
}

#About\ Me > section:nth-child(2) > div > button {
    position: relative;
    top: 4vw;
    font-family: 'Poppins', sans-serif;
    color: #F59E0B;
    background-color: #FFDEBF;
    border: 1px solid white;
    margin: 0;
    font-size: 25px;
    border-radius: 10px;
    padding: 10px;
}
