
footer{
    background-color: #192132;
    height: 100px;
    position: relative;
}

footer > h1 {
    position: absolute;
    left: 10px;
    top: 10px;
    color: white;
}

footer > div {
    position: absolute;
    right: 10px;
    top: 20px;
    margin: auto;
}