/* Resetting default margin and padding for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    font-size: 24px;
}
/* Body styles */

body > main {
    position: relative;
    width: 100%;
    height: 100vh;
}
/* First main section styles */

body > main:nth-child(1) {
    background-color: #FFF7F1;
}

body > main:nth-child(3) {
    background-color: #FFF7F1;
}
/* Header styles */

header > h1 {
    margin: 10px;
    font-size: 40px;
    font-family: 'Jomhuria', cursive;
    display: inline;
}

header > nav > a {
    text-decoration: none;
    color: black;
    margin: 0 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
}

header > nav {
    position: absolute;
    right: 0;
    top: 0;
    margin: 10px;
}
/* Home section styles */

#Home > section:nth-child(3) > img {
    width: 39vw;
    position: absolute;
    right: 0;
    top: 97px;
}

#Home > section:nth-child(2) > div > h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 54px;
    margin: 0;
}

#Home > section:nth-child(2) > div > h2:nth-child(2) {
    color: #F59E0B;
}

#Home > section:nth-child(2) {
    position: absolute;
    left: 10px;
    top: 250px;
}

#Home > section:nth-child(2) > div > button {
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    color: #F59E0B;
    background-color: #FFDEBF;
    border: 1px solid white;
    margin: 0;
    font-size: 25px;
    border-radius: 10px;
}

/* About Me section styles */
#About\ Me > section:nth-child(1) > div > div > img {
    position: absolute;
    width: 420px;
    height: 625px;
    border-radius: 500px;
    top: -31px;
    left: -2px;
}

#About\ Me > section:nth-child(1) > div > div {
    position: relative;
    background-color: #FEB33C;
    width: 417px;
    height: 594px;
    border-radius: 500px;
    left: 10px;
    top: 7px;
    box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
}

#About\ Me > section:nth-child(1) > div {
    position: relative;
    border: 1px solid black;
    width: 417px;
    height: 594px;
    border-radius: 500px;
    left: 50px;
    top: 100px;
}

#About\ Me > div {
    position: absolute;
    width: 177px;
    height: 118px;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    top: 448px;
    right: 959px;
}

#About\ Me > section:nth-child(2) > h3 {
    position: absolute;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    left: 50%;
    top: 25vh;
}

#About\ Me > section:nth-child(2) > p {
    position: absolute;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    left: 50%;
    top: 32vh;
}

#About\ Me > section:nth-child(2) > div {
    position: absolute;
    left: 50%;
    top: 66vh;
}

#About\ Me > section:nth-child(2) > div > button {
    position: relative;
    top: 7vh;
    font-family: 'Poppins', sans-serif;
    color: #F59E0B;
    background-color: #FFDEBF;
    border: 1px solid white;
    margin: 0;
    font-size: 25px;
    border-radius: 10px;
    padding: 10px;
}

/* My Qualification section styles */
#My\ qualification > section > h3, #Projects > section > h3, #Assignment > section:nth-child(1) > h3, #Skills > section > h3 {
    position: absolute;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    left: 50%;
    top: 50px;
    transform: translate(-50%, -50%);
}

#My\ qualification > section > p {
    position: absolute;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    text-align: center;
    top: 80px;
    left: calc(50% - 350px);
    color: #757070;
    width: 700px;
}

#My\ qualification > section:nth-child(2)>div {
    font-family: 'Poppins', sans-serif;
}

#My\ qualification > section:nth-child(2) > div > p {
    color: #757070;
}

#My\ qualification > section:nth-child(2) > div:nth-child(1) {
    position: absolute;
    font-family: 'Poppins', sans-serif;
    left: 60%;
    top: 30vh;
}

#My\ qualification > section:nth-child(2) > div:nth-child(2) {
    position: absolute;
    font-family: 'Poppins', sans-serif;
    left: 30%;
    top: 50vh;
}


#My\ qualification > section:nth-child(2) > div:nth-child(3) {
    position: absolute;
    font-family: 'Poppins', sans-serif;
    left: 60%;
    top: 70vh;
}

/*My Work & Projects section styles*/
#Projects{
    height: 120vh;
}
#Projects > section> img {
    position: absolute;
    width: 26vw;
    height: 50vh;
    background: black;
    top: 15%;
    border-radius: 48px;
}
#Projects > section> p {
    position: absolute;
    text-align: center;
    top: 550px;
    width: 26vw;
    color: #757070;
}
#Projects > section:nth-child(2)> img {
    left: 5%;
}
#Projects > section:nth-child(3)> img {
    right: calc(50% - 13vw);
}
#Projects > section:nth-child(4)> img {
    right: 5%;
}

#Projects > section:nth-child(2)> p {
    left: 5%;
}
#Projects > section:nth-child(3)> p {
    right: calc(50% - 13vw);
}
#Projects > section:nth-child(4)> p {
    right: 5%;
}
/*Assignments section styles*/
#Assignment{
    height: 130vh;
    background-color: #FFF7F1;
}
#Assignment > section:nth-child(1) > h3 {
    top: 100px ;
}
#Assignment > div{
    position: absolute;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    top: 150px;
    padding: 0 30px;
}
#Assignment > div > section {
    margin: 10px 20px;
    background: #D9D9D9;
    padding: 50px;
    border-radius: 50px;
}
#Assignment > div > section > p {
    color: #757070;
}
#Assignment > div > section > h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
}
#Assignment > div > section > button {
    position: relative;
    font-family: 'Poppins', sans-serif;
    color: white;
    background-color: #F59E0B;
    border: none;
    font-size: 25px;
    border-radius: 20px;
    padding: 15px;
    left: 233px;
    top: 24px;
}
/*My Experience Area*/

#Skills > div {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    top: 200px;
    width: 100%;
    height: 50vh;
}
#Skills > div > section {
    padding: 0 100px;
}
#Skills > div > section > h4{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
}
.custom-progress {
    width: 100%;
    height: 40px;
    background-color: #ccc;
    border-radius: 10px;
    position: relative;
}

.custom-progress-bar {
    height: 100%;
    width: 70%; /* Adjust this value to control the progress */
    background-color: #F59E0B;
    border-radius: 10px;
    transition: width 0.3s ease-in-out;
}

.custom-progress-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000;
    font-weight: bold;
}