/* Resetting default margin and padding for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    font-size: 24px;
}
/* Body styles */

body > main {
    position: relative;
    width: 100%;
    height: 100vh;
}
/* Home styles */

body > main:nth-child(1) {
    background-color: #FFF7F1;
}

body > main:nth-child(3) {
    background-color: #FFF7F1;
}
body > main:nth-child(7) {
    background-color: #FFF7F1;
}
/* Header styles */

header > h1 {
    margin: 10px;
    font-size: 40px;
    font-family: 'Jomhuria', cursive;
    display: inline;
}

header > nav > a {
    text-decoration: none;
    color: black;
    margin: 0 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
}

header > nav {
    position: absolute;
    right: 0;
    top: 0;
    margin: 10px;
}
/* Home section styles */

#Home > section:nth-child(3) > img {
    width: 39vw;
    position: absolute;
    right: 100px;
    top: 97px;
}

#Home > section:nth-child(2) > div > h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 54px;
    margin: 0;
}
#Home > section:nth-child(2) >p{
    width: 40%;
}

#Home > section:nth-child(2) > div > h2:nth-child(2) {
    color: #F59E0B;
}

#Home > section:nth-child(2) {
    position: absolute;
    left: 10px;
    top: 250px;
}

#Home > section:nth-child(2) > div > button {
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    color: #F59E0B;
    background-color: #FFDEBF;
    border: 1px solid white;
    margin: 0;
    font-size: 25px;
    border-radius: 10px;
}

 /*About Me section styles*/
#About\ Me > section:nth-child(1) > div > div > img {
    position: absolute;
    width: 420px;
    height: 625px;
    border-radius: 500px;
    top: -31px;
    left: -2px;
}

#About\ Me > section:nth-child(1) > div > div {
    position: relative;
    background-color: #FEB33C;
    width: 417px;
    height: 594px;
    border-radius: 500px;
    left: 10px;
    top: 7px;
    box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
}

#About\ Me > section:nth-child(1) > div {
    position: relative;
    border: 1px solid black;
    width: 417px;
    height: 594px;
    border-radius: 500px;
    left: 50px;
    top: 100px;
}

#About\ Me > div {
    position: absolute;
    width: 177px;
    height: 118px;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    top: 448px;
    right: 959px;
}

#About\ Me > section:nth-child(2) > h3 {
    position: absolute;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    left: 50%;
    top: 25vh;
}

#About\ Me > section:nth-child(2) > p {
    position: absolute;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    left: 50%;
    top: 32vh;
}

#About\ Me > section:nth-child(2) > div {
    position: absolute;
    left: 50%;
    top: 66vh;
}

#About\ Me > section:nth-child(2) > div > button {
    position: relative;
    top: 7vh;
    font-family: 'Poppins', sans-serif;
    color: #F59E0B;
    background-color: #FFDEBF;
    border: 1px solid white;
    margin: 0;
    font-size: 25px;
    border-radius: 10px;
    padding: 10px;
}

/* My Qualification section styles */
#My\ qualification > section > h3, #Projects > section > h3, #Assignment > section:nth-child(1) > h3, #Skills > section > h3, #Gallery > section > h3 {
    position: absolute;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    left: 50%;
    top: 50px;
    transform: translate(-50%, -50%);
}

#My\ qualification > section > p {
    position: absolute;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    text-align: center;
    top: 80px;
    left: calc(50% - 350px);
    color: #757070;
    width: 700px;
}

#My\ qualification > section:nth-child(2)>div {
    font-family: 'Poppins', sans-serif;
}

#My\ qualification > section:nth-child(2) > div > p {
    color: #757070;
}

#My\ qualification > section:nth-child(2) > div:nth-child(1) {
    position: absolute;
    left: 60%;
    top: 30vh;
}

#My\ qualification > section:nth-child(2) > div:nth-child(2) {
    position: absolute;
    font-family: 'Poppins', sans-serif;
    left: 30%;
    top: 50vh;
}


#My\ qualification > section:nth-child(2) > div:nth-child(3) {
    position: absolute;
    font-family: 'Poppins', sans-serif;
    left: 60%;
    top: 70vh;
}

/*My Work & Projects section styles*/
#projectImages{
    height: 120vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#Projects > div > section> img {
    width: 26vw;
    height: 50vh;
    background: black;
    border-radius: 48px;
}
#Projects > div > section> p {
    text-align: center;
    width: 26vw;
    color: #757070;
}

/*Assignments section styles*/
#Assignment{
    height: 130vh;
    background-color: #FFF7F1;
}
#Assignment > section:nth-child(1) > h3 {
    top: 100px ;
}
#Assignment > div{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    top: 150px;
}
#Assignment > div > section {
    width: 30vw;
    margin: 10px 20px;
    background: #D9D9D9;
    padding: 50px;
    border-radius: 50px;
}
#Assignment > div > section > p {
    color: #757070;
}
#Assignment > div > section > h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
}
#Assignment > div > section > button {
    position: relative;
    font-family: 'Poppins', sans-serif;
    color: white;
    background-color: #F59E0B;
    border: none;
    font-size: 25px;
    border-radius: 20px;
    padding: 1vw;
    left: 233px;
    top: 24px;
}
/*My Experience Area*/

#Skills > div {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    position: absolute;
    top: 200px;
    width: 100%;
    height: 50vh;
}
#Skills > div > section {
    padding: 0 100px;
    margin: 20px 0;
}
#Skills > div > section > h4{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
}
.custom-progress {
    width: 30vw;
    height: 40px;
    background-color: #ccc;
    border-radius: 10px;
    position: relative;
}

.custom-progress-bar {
    height: 100%;
    width: 70%; /* Adjust this value to control the progress */
    background-color: #F59E0B;
    border-radius: 10px;
    transition: width 0.3s ease-in-out;
}

.custom-progress-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000;
    font-weight: bold;
}

/*gallery*/
#Gallery > section:nth-child(2){
    position: absolute;
    display: flex;
    width: 100%;
    height: 80vh;
    justify-content: space-evenly;
    flex-wrap: wrap;
    top: 80px;
}
#Gallery > section:nth-child(2) > img {
    background: black;
    width: 400px;
    height: 300px;
    margin: 20px;
}

/*Get In Touch !*/
#Contact > section{
    position: absolute;
    margin-left: 5vw;
    margin-top: 15vh;
}
#Contact > form{
    position: absolute;
    margin-left: 50%;
    margin-top: 15vh;
}
#Contact > section > h3{
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
}
#Contact > section > div > h4 {
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    font-size: 24px;
}
#Contact > section > div > p {
    color: #757070;
    font-size: 24px;
}
#Contact > section > div{
    margin: 20px 0;
}
#Contact > section > div > h4 > img {
    width: 30px;
}
#Contact > form > div > label{
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    font-size: 24px;
    margin: 10px 0;
}
#Contact > form > div > input{
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    width: 30vw;
    height: 50px;
    font-size: 24px;
    background-color: #D9D9D9;
    margin-bottom: 20px;
}
#Contact > form > input{
    position: relative;
    font-family: 'Poppins', sans-serif;
    color: white;
    background-color: #F59E0B;
    font-size: 25px;
    border-radius: 20px;
    border: none;
    padding: 15px;
}

#Contact > form > div > textarea{
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    width: 30vw;
    height: 200px;
    font-size: 24px;
    background-color: #D9D9D9;
    margin-bottom: 20px;
}

/*footer*/
footer{
    background-color: #192132;
    height: 100px;
    position: relative;
}
footer > h1 {
    position: absolute;
    left: 10px;
    top: 10px;
    color: white;
}
footer > div {
    position: absolute;
    right: 10px;
    top: 20px;
    margin: auto;
}

/* media query Home styles */
@media all and (max-width: 320px) {
    p{
        font-size: 16px;
    }
    #Home {
        height: 238vw;
    }
    #Home > header > nav > a {
        display: none;
    }
    #Home > section:nth-child(3) > img {
        width: 100vw;
        right: 0px;
        top: 417px;/
    }
    #Home > section:nth-child(2) > div > h2 {
        font-size: 34px;
    }
    #Home > section:nth-child(2) > p{
        font-size: 15px;
        width: 98%;
    }
    #Home > section:nth-child(2) > div> a > img{
        width: 40px;
    }
    #Home > section:nth-child(2){
        top: 100px;
    }
    #Home > section:nth-child(2) > div > button {
        padding: 5px;
        color: #F59E0B;
        background-color: #FFDEBF;
        border: 1px solid white;
        margin: 0;
        font-size: 18px;
        border-radius: 10px;
    }
    /*about me style */
    #About\ Me{
        height: 290vw;
    }
    #About\ Me > section:nth-child(2){
        position: relative;
        top: 81px;
        right: -22px;
        width: 290px;
        height: 500px;
        margin: 0;
    }
    #About\ Me > section:nth-child(2) > h3 {
        font-size: 22px;
        top: 0px;
        left: 0px;
    }
    #About\ Me > section:nth-child(1) > div > div > img {
        width: 286px;
        height: 446px;
        top: -14px;
        left: 1px;
    }
    #About\ Me > section:nth-child(1) > div > div {
        width: 287px;
        height: 431px;
        left: 6px;
        top: 8px;
    }
    #About\ Me > section:nth-child(1) > div {
        width: 287px;
        height: 431px;
        left: 10px;
        top: 50px;
        margin: 0;
    }
    #About\ Me > div {
        width: 130px;
        height: 80px;
        top: 383px;
        right: 28px;
    }
    #About\ Me > section:nth-child(2) > p {
        font-size: 16px;
        top: 35px;
        left: 0px;
    }
    #About\ Me > section:nth-child(2) > div > a > img {
        width: 40px;
    }
    #About\ Me > section:nth-child(2) > div {
        left: 0;
        top: 100vw;
    }
    #About\ Me > section:nth-child(2) > div > button {
        top: 13vw;
        font-size: 20px;
        border-radius: 10px;
        padding: 5px;
    }
    /*change all h3 font size */
    #My\ qualification > section > h3, #Projects > section > h3, #Assignment > section:nth-child(1) > h3, #Skills > section > h3, #Gallery > section > h3{
        font-size: 22px;
    }
    /*#My\ qualification small phone style*/
    #My\ qualification > section > h3{
        left: 70px;
        transform: none;
    }
    #My\ qualification > section > p {
        font-size: 16px;
        text-align: center;
        top: 80px;
        width: 283px;
        left: calc(50% - 133px);
    }
    #My\ qualification > section:nth-child(2) > div:nth-child(1), #My\ qualification > section:nth-child(2) > div:nth-child(2), #My\ qualification > section:nth-child(2) > div:nth-child(3) {
        left: 50px;
        margin-top: 30px;
    }
    /*project small phone styles*/
    #Projects > section > h3{
        left: 50%;
        width: 218px;
    }
    #Projects{
        height: 480vw;
    }
    #projectImages{
        flex-direction: column;
        justify-content: flex-end;
        height: 500vw;
    }
    #Projects > div > section > img {
        width: 250px;
        height: 250px;
    }
    #Projects > div > section > p {
        width: 250px;
        height: 250px;
    }
    /*assignment small phone */
    #Assignment{
        height: 435vw;
    }
    #Assignment > div{
        flex-direction: column;
        justify-content: flex-end;

        height: 377vw;
    }
    #Assignment > div > section{
        width: 275px;
       height: 180px;
    }
    #Assignment > div > section > h4 {
        font-size: 20px;
    }
    #Assignment > div > section {
        padding: 17px;
    }
    #Assignment > div > section > button {
        font-size: 16px;
        left: 158px;
        top: -11px;
    }

    /*My Experience Area mobile style*/
    #Skills{
        height: 240vw;
    }
    #Skills > section > h3{
        width: 223px;
    }
    #Skills > div > section {
        padding: 0;
    }
    #Skills > div {
        top: 100px;
        height: 112vw;
    }
    .custom-progress {
        width: 90vw;
    }
    /*gallery mobile small*/
    #Gallery{
        height: 665vw;
    }
    /*get in touch small phone*/
    #Contact{
        height: 344vw;
    }
    #Contact > form {
        top: 500px;
        margin: 0 0;
        left: 10px;
    }
    #Contact > form > div > input{
        width: 90vw;
        height: 40px;
    }
    #Contact > form > div > textarea {
        width: 90vw;
    }
    #Contact > section > div > p {
        font-size: 16px;
    }
    #Contact > form > input{
        font-size: 20px;
        padding: 10px;
    }
    /*footer style small phone*/
    footer > h1{
        font-size: 20px;
        top: 30px;
    }
    footer > div{
        top: 29px;
    }
}
@media all and (min-width: 321px) and (max-width: 376px){
    p{
        font-size: 16px;
    }
    #Home {
        height: 219vw;
    }
    #Home > header > nav > a {
        display: none;
    }
    #Home > section:nth-child(3) > img {
        width: 100vw;
        right: 0px;
        top: 417px;/
    }
    #Home > section:nth-child(2) > div > h2 {
        font-size: 34px;
    }
    #Home > section:nth-child(2) > p{
        font-size: 15px;
        width: 98%;
    }
    #Home > section:nth-child(2) > div> a > img{
        width: 40px;
    }
    #Home > section:nth-child(2){
        top: 100px;
    }
    #Home > section:nth-child(2) > div > button {
        padding: 5px;
        color: #F59E0B;
        background-color: #FFDEBF;
        border: 1px solid white;
        margin: 0;
        font-size: 18px;
        border-radius: 10px;
    }
    /*about me style */
    #About\ Me{
        height: 248vw;
    }
    #About\ Me > section:nth-child(2){
        position: relative;
        top: 81px;
        right: -50px;
        width: 290px;
        height: 500px;
        margin: 0;
    }
    #About\ Me > section:nth-child(2) > h3 {
        font-size: 22px;
        top: 0px;
        left: 0px;
    }
    #About\ Me > section:nth-child(1) > div > div > img {
        width: 286px;
        height: 446px;
        top: -14px;
        left: 1px;
    }
    #About\ Me > section:nth-child(1) > div > div {
        width: 287px;
        height: 431px;
        left: 6px;
        top: 8px;
    }
    #About\ Me > section:nth-child(1) > div {
        width: 287px;
        height: 431px;
        left: 30px;
        top: 50px;
        margin: 0;
    }
    #About\ Me > div {
        width: 130px;
        height: 80px;
        top: 383px;
        right: 28px;
    }
    #About\ Me > section:nth-child(2) > p {
        font-size: 16px;
        top: 35px;
        left: 0px;
    }
    #About\ Me > section:nth-child(2) > div > a > img {
        width: 40px;
    }
    #About\ Me > section:nth-child(2) > div {
        left: 0;
        top: 84vw;
    }
    #About\ Me > section:nth-child(2) > div > button {
        font-size: 20px;
        border-radius: 10px;
        padding: 5px;
    }
    /*change all h3 font size */
    #My\ qualification > section > h3, #Projects > section > h3, #Assignment > section:nth-child(1) > h3, #Skills > section > h3, #Gallery > section > h3{
        font-size: 22px;
    }
    /*#My\ qualification small phone style*/
    #My\ qualification > section > h3{
        left: 70px;
        transform: none;
    }
    #My\ qualification > section > p {
        font-size: 16px;
        text-align: center;
        top: 80px;
        width: 283px;
        left: calc(50% - 133px);
    }
    #My\ qualification > section:nth-child(2) > div:nth-child(1), #My\ qualification > section:nth-child(2) > div:nth-child(2), #My\ qualification > section:nth-child(2) > div:nth-child(3) {
        left: 50px;
        margin-top: 30px;
    }
    /*project small phone styles*/
    #Projects > section > h3{
        left: 50%;
        width: 218px;
    }
    #Projects{
        height: 410vw;
    }
    #projectImages{
        flex-direction: column;
        justify-content: flex-end;
        height: 429vw;
    }
    #Projects > div > section > img {
        width: 250px;
        height: 250px;
    }
    #Projects > div > section > p {
        width: 250px;
        height: 250px;
    }
    /*assignment small phone */
    #Assignment{
        height: 382vw;
    }
    #Assignment > div{
        flex-direction: column;
        justify-content: flex-end;

        height: 321vw;
    }
    #Assignment > div > section{
        width: 275px;
       height: 180px;
    }
    #Assignment > div > section > h4 {
        font-size: 20px;
    }
    #Assignment > div > section {
        padding: 17px;
    }
    #Assignment > div > section > button {
        font-size: 16px;
        left: 158px;
        top: -11px;
    }

    /*My Experience Area mobile style*/
    #Skills{
        height: 206vw;
    }
    #Skills > section > h3{
        width: 223px;
    }
    #Skills > div > section {
        padding: 0;
    }
    #Skills > div {
        top: 100px;
        height: 112vh;
    }
    .custom-progress {
        width: 90vw;
    }
    /*gallery mobile small*/
    #Gallery{
        height: 578vw;
    }
    /*get in touch small phone*/
    #Contact{
        height: 288vw;
    }
    #Contact > form {
        top: 500px;
        margin: 0 0;
        left: 10px;
    }
    #Contact > form > div > input{
        width: 90vw;
        height: 40px;
    }
    #Contact > form > div > textarea {
        width: 90vw;
    }
    #Contact > section > div > p {
        font-size: 16px;
    }
    #Contact > form > input{
        font-size: 20px;
        padding: 10px;
    }
    /*footer style small phone*/
    footer > h1{
        font-size: 20px;
        top: 30px;
    }
    footer > div{
        top: 29px;
    }
}
@media all and (min-width: 377px) and (max-width: 426px){
    p{
        font-size: 16px;
    }
    #Home {
        height: 205vw;
    }
    #Home > header > nav > a {
        display: none;
    }
    #Home > section:nth-child(3) > img {
        width: 100vw;
        right: 0px;
        top: 417px;/
    }
    #Home > section:nth-child(2) > div > h2 {
        font-size: 34px;
    }
    #Home > section:nth-child(2) > p{
        font-size: 15px;
        width: 98%;
    }
    #Home > section:nth-child(2) > div> a > img{
        width: 40px;
    }
    #Home > section:nth-child(2){
        top: 100px;
    }
    #Home > section:nth-child(2) > div > button {
        padding: 5px;
        color: #F59E0B;
        background-color: #FFDEBF;
        border: 1px solid white;
        margin: 0;
        font-size: 18px;
        border-radius: 10px;
    }
    /*about me style */
    #About\ Me{
        height: 220vw;
    }
    #About\ Me > section:nth-child(2){
        position: relative;
        top: 81px;
        right: -70px;
        width: 290px;
        height: 500px;
        margin: 0;
    }
    #About\ Me > section:nth-child(2) > h3 {
        font-size: 22px;
        top: 0px;
        left: 0px;
    }
    #About\ Me > section:nth-child(1) > div > div > img {
        width: 286px;
        height: 446px;
        top: -14px;
        left: 1px;
    }
    #About\ Me > section:nth-child(1) > div > div {
        width: 287px;
        height: 431px;
        left: 6px;
        top: 8px;
    }
    #About\ Me > section:nth-child(1) > div {
        width: 287px;
        height: 431px;
        left: 64px;
        top: 50px;
        margin: 0;
    }
    #About\ Me > div {
        width: 130px;
        height: 80px;
        top: 383px;
        right: 28px;
    }
    #About\ Me > section:nth-child(2) > p {
        font-size: 16px;
        top: 35px;
        left: 0px;
    }
    #About\ Me > section:nth-child(2) > div > a > img {
        width: 40px;
    }
    #About\ Me > section:nth-child(2) > div {
        left: 0;
        top: 74vw;
    }
    #About\ Me > section:nth-child(2) > div > button {
        font-size: 20px;
        border-radius: 10px;
        padding: 5px;
    }
    /*change all h3 font size */
    #My\ qualification > section > h3, #Projects > section > h3, #Assignment > section:nth-child(1) > h3, #Skills > section > h3, #Gallery > section > h3{
        font-size: 22px;
    }
    /*#My\ qualification small phone style*/
    #My\ qualification > section > h3{
        left: 70px;
        transform: none;
    }
    #My\ qualification > section > p {
        font-size: 16px;
        text-align: center;
        top: 80px;
        width: 283px;
        left: calc(50% - 133px);
    }
    #My\ qualification > section:nth-child(2) > div:nth-child(1), #My\ qualification > section:nth-child(2) > div:nth-child(2), #My\ qualification > section:nth-child(2) > div:nth-child(3) {
        left: 50px;
        margin-top: 30px;
    }
    /*project small phone styles*/
    #Projects > section > h3{
        left: 50%;
        width: 218px;
    }
    #Projects{
        height: 366vw;
    }
    #projectImages{
        flex-direction: column;
        justify-content: flex-end;
        height: 380vw;
    }
    #Projects > div > section > img {
        width: 250px;
        height: 250px;
    }
    #Projects > div > section > p {
        width: 250px;
        height: 250px;
    }
    /*assignment small phone */
    #Assignment{
        height: 324vw;
    }
    #Assignment > div{
        flex-direction: column;
        justify-content: flex-end;

        height: 283vw;
    }
    #Assignment > div > section{
        width: 275px;
       height: 180px;
    }
    #Assignment > div > section > h4 {
        font-size: 20px;
    }
    #Assignment > div > section {
        padding: 17px;
    }
    #Assignment > div > section > button {
        font-size: 16px;
        left: 158px;
        top: -11px;
    }

    /*My Experience Area mobile style*/
    #Skills{
        height: 176vw;
    }
    #Skills > section > h3{
        width: 223px;
    }
    #Skills > div > section {
        padding: 0;
    }
    #Skills > div {
        top: 100px;
        height: 112vh;
    }
    .custom-progress {
        width: 90vw;
    }
    /*gallery mobile small*/
    #Gallery{
        height: 510vw;
    }
    /*get in touch small phone*/
    #Contact{
        height: 256vw;
    }
    #Contact > form {
        top: 500px;
        margin: 0 0;
        left: 10px;
    }
    #Contact > form > div > input{
        width: 90vw;
        height: 40px;
    }
    #Contact > form > div > textarea {
        width: 90vw;
    }
    #Contact > section > div > p {
        font-size: 16px;
    }
    #Contact > form > input{
        font-size: 20px;
        padding: 10px;
    }
    /*footer style small phone*/
    footer > h1{
        font-size: 20px;
        top: 30px;
    }
    footer > div{
        top: 29px;
    }
}